@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*font-family: 'Poppins', sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-1: #fff;
  --color-2: rgb(255, 255, 255, 0.8);
  --color-3: #000;
  --color-4: #00002c;
  --color-5: #000024;
  --color-6: #00b7c5;
  --color-7: #08d3d3;
}

header {
  width: 100%;
  height: 40vw;
  background: var(--color-4);
  overflow: hidden;
}

header nav {
  width: 70%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header nav ul li {
  position: relative;
  padding: 3px 15px;
}

header nav ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(154, 154, 150, 0.5);
  border-radius: 50%;
  top: 6px;
  right: 9px;
  z-index: 1;
}

header nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: var(--color-1);
  font-weight: 600;
  transition: 0.3s linear;
}

header nav ul li a:hover {
  color: var(--color-6);
}

header nav button {
  padding: 12px 25px;
  background: linear-gradient(0deg, #ae2c86, #d0498d);
  color: var(--color-1);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s linear;
}

header nav button:hover {
  background: linear-gradient(0deg, #d0498d, #ae2c86);
}

header section {
  width: 70%;
  height: 85%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header section .content,
.img_data {
  position: relative;
  width: 50%;
  height: auto;
  color: var(--color-1);
}

header section .content h1 {
  font-size: 45px;
  line-height: 55px;
}

header section .content p {
  font-size: 13px;
  margin-top: 10px;
}

header section .content button {
  padding: 12px 25px;
  background: linear-gradient(0deg, #ae2c86, #d0498d);
  color: var(--color-1);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

header section .content button:hover {
  background: linear-gradient(0deg, #d0498d, #ae2c86);
}

header section .img_data img {
  width: 530px;
  animation: earth 120s linear infinite;
}

@keyframes earth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

aside {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--color-1);
  background-color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

aside h1 {
  margin-bottom: 30px;
  position: relative;
  padding-top: 60px;
}

aside h1::before {
  content: "";
  margin-bottom: 30px;
  position: absolute;
  width: 50px;
  height: 3.5px;
  background: var(--color-6);
  bottom: -40px;
  left: 100px;
}

aside p {
  font-size: 9px;
  text-align: center;
}

aside img {
  position: relative;
  width: 100%;
  margin-top: -60px;
}

aside .time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .time span {
  font-size: 40px;
  font-weight: 900;
  margin: 0 25px;
  color: var(--color-7);
}

aside .time span h6 {
  font-size: 11px;
  text-align: center;
  color: #a5a5a5;
}

aside .time h5 {
  font-size: 25px;
  margin-top: -16px;
}

aside button {
  padding: 12px 25px;
  background: linear-gradient(0deg, #ae2c86, #d0498d);
  color: var(--color-1);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

aside button:hover {
  background: linear-gradient(0deg, #ae2c86, #ae2c86);
}

.app {
  width: 100%;
  height: auto;
  background: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .app_img_bx,
.app_contect_bx {
  position: relative;
  width: 35%;
  height: auto;
  color: var(--color-1);
  margin-top: 40px;
}

.app .app_img_bx {
  width: 30%;
}

.app .app_img_bx img {
  width: 90%;
}

.app .app_contect_bx h1 {
  font-size: 30px;
  position: relative;
  line-height: 40px;
}

.app .app_contect_bx p {
  margin-top: 60px;
  font-size: 13px;
  word-break: break-all;
}

.app .app_contect_bx img {
  margin-top: 20px;
}

.app .app_contect_bx h1::before {
  content: "";
  margin-bottom: 30px;
  position: absolute;
  width: 50px;
  height: 3.5px;
  background: var(--color-6);
  bottom: -40px;
  left: 0px;
}

.converter {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.converter::before {
  content: "";
  width: 100%;
  height: 100%;
}

.pic {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.converter h1 {
  position: relative;
  font-size: 25px;
  line-height: 40px;
  padding-top: 50px;
  text-align: center;
  color: var(--color-1);
}

.converter h1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3.5px;
  background: var(--color-6);
  bottom: -10px;
  left: 48%;
  border-radius: 10px;
}

.converter .cards {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.converter .cards .card {
  position: relative;
  width: 380px;
  height: 210px;
}

.converter .cards .card2 {
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-6);
  color: var(--color-1);
}
.converter .cards .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00002c80;
  border-radius: 10px;
  z-index: -1;
}

.converter .cards .card .select {
  display: flex;
  align-items: center;
  color: var(--color-1);
  margin: 30px 20px 0px 30px;
}

.converter .cards .card .select h4 {
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-6);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(8, 211, 211, 0.5);
}

.converter .cards .card .select .select1 {
  margin-left: 20px;
}
.converter .cards .card .select h6 {
  color: var(--color-2);
  margin-left: 5px;
}

.converter .cards .card .select select {
  width: 250px;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--color-1);
  font-family: "poppins" sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.converter .cards .card .select select option {
  background: #00fff280;
}

.converter .cards .card .enter_bitcoin {
  margin: 40px 40px 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d0498d;
  color: var(--color-1);
}

.converter .cards .card .enter_bitcoin input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-1);
  font-size: 25px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.converter .cards .card p {
  margin: 0px 40px;
  font-size: 12px;
  color: var(--color-1);
}

.rocket {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--color-5);
  display: flex;
  align-items: center;
  z-index: -2;
  justify-content: center;
  padding-top: 60px;
}

.rocket .rocket_content,
.rocket_img {
  width: 30%;
  height: auto;
  color: var(--color-1);
}

.rocket .rocket_content h1 {
  position: relative;
  font-size: 25px;
  line-height: 40px;
  margin-top: 50px;

  color: var(--color-1);
}

.rocket .rocket_content h1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3.5px;
  background-color: var(--color-6);
  bottom: -20px;
  left: 0%;
  border-radius: 10px;
}

.rocket .rocket_content p {
  margin-top: 60px;
  font-size: 12px;
  word-break: break-all;
}

.rocket .rocket_content ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rocket .rocket_content ul li {
  position: relative;
  width: 200px;
  font-size: 12px;
  margin: 3px 0px;
  padding-left: 20px;
}

.rocket .rocket_content ul li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #d0498d;
  border-radius: 50%;
  left: 0;
  top: 8px;
}

.rocket .rocket_content button {
  padding: 12px 25px;
  background: linear-gradient(0deg, #ae2c86, #d0498d);
  color: var(--color-1);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

.rocket .rocket_content button:hover {
  background: linear-gradient(0deg, #ae2c86, #ae2c86);
}

.rocket .rocket_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.road_map {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}

.road_map h1 {
  position: relative;
  font-size: 25px;
  line-height: 40px;
  padding-top: 50px;
  text-align: center;
  color: var(--color-1);
}

.road_map h1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3.5px;
  background: var(--color-6);
  bottom: -10px;
  left: 48%;
  border-radius: 10px;
}

.road_map p {
  width: 400px;
  margin: 50px auto 40px auto;
  color: var(--color-1);
  font-size: 12px;
  text-align: center;
}

.road_map .map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.road_map .map .card {
  width: 357px;
  height: 50px;
  display: flex;
  align-items: center;
}

.road_map .map .card .title {
  width: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--color-1);
}

.road_map .map .card .title h6 {
  font-size: 11px;
  color: var(--color-2);
}

.road_map .map .card .title h4 {
  font-size: 12px;
}

.road_map .map .card h5 {
  width: 30px;
  height: 1px;
  background: var(--color-2);
  margin: 15px 5px;
}

.road_map .map .card h2 {
  position: relative;
  width: 15px;
  height: 15px;
  background: var(--color-6);
  border-radius: 50%;
}

.road_map .map .card h2::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 45px;
  background: var(--color-6);
  top: 5px;
  left: 7px;
}

.road_map .map .card:nth-child(even) {
  flex-direction: row-reverse;
}

.road_map .map .card:nth-child(even).title {
  align-items: flex-start;
}

.road_map .map .card:nth-last-child(1) h2::before {
  display: none;
}

.road_map .map .card:nth-last-child(1) h2 {
  background: #3f3f7d;
}

.road_map .map .card:nth-last-child(2) h2 {
  background: #3f3f7d;
}

.road_map .map .card:nth-last-child(2) h2::before {
  background: #3f3f7d;
}

.road_map .map .card:nth-last-child(3) h2 {
  background: #3f3f7d;
}

.road_map .map .card:nth-last-child(3) h2::before {
  background: #3f3f7d;
}

.pic1 {
  position: absolute;
  width: 100%;
  height: 580px;
  z-index: -1;
}

.pic3 {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -5;
}

.man {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.man .man_img,
.man_content {
  width: 32%;
  height: auto;
  margin-top: 100px;
}

.man .man_content{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.man .man_content h1{
  position: relative;
  font-size: 25px;
  line-height: 40px;
  color: var(--color-1);
  margin-top: 50px;
  text-align: right;
}

.man .man_content p{
  margin-top: 60px;
  font-size: 12px;
  color: var(--color-2);
  text-align: right;
}

.man .man_content .client_cole{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.man .man_content .client_cole .cont{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--color-1);
}

.man .man_content .client_cole .cont .bi{
  font-size: 11px;
  margin-left: 2px;
  color:#ae2c86;
}

.man .man_content .client_cole .cont h4{
  font-size: 17px;
  text-align: right;
  line-height: 15px;
  margin-top: 10px;
}

.man .man_content .client_cole .cont p{
  font-size: 11px;
  text-align: right;
  margin-top: 0;
  font-weight: bold;
  color: var(--color-6);
}

.man .man_content .client_cole .img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 20px;
}

.man .man_content .client_cole .img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.news{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background: var(--color-5);
}

.news h1{
  position: relative;
  font-size: 25px;
  text-align: center;
  color: var(--color-1);
  padding-top: 40px;
}


.news h1::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 3.5px;
  border-radius: 10px;
  background: var(--color-6);
  bottom: -20px;
  margin-left: 100px;
}

.news .cards{
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 80px;
}

.news .cards .card{
  width: 350px;
  height: 350px;
  background: #28284e;
  border-radius: 15px;
  color: var(--color-1);
  padding: 40px;
  box-shadow: 0px 30px 25px -30px rgb(0,183,197,.5);
}

.news .cards .card h6{
  color: var(--color-7);
}

.news .cards .card h2{
  font-size: 18px;
}

.news .cards .card p{
  font-size: 13px;
  margin:20px 0px;
  line-height: 25px;
  color: var(--color-2);
}

.news .btn {
  display: flex;
  justify-content: center;
}
.news .btn button{
  padding: 12px 25px;
  background: linear-gradient(0deg, #ae2c86, #d0498d);
  color: var(--color-1);
  border-radius: 30px;
  font-size: 11px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s linear;
}

.news .btn button:hover {
  background: linear-gradient(0deg, #ae2c86, #ae2c86);
}


@media only screen and (max-width:1321px){
  .rocket .rocket_content,
  .rocket_img{
      width:38%
  }

  .news .cards{
      width: 97%;
  }
}

@media only screen and (max-width:1091px){
  header nav{
      width: 90%;
  }

  header section {
      width: 90%;
  }

  .app .app_img_bx{
      width: 40%;
  }

  .app .app_img_bx , .app_content_bx{
      width: 45%;
  }
  .rocket .rocket_content ,.rocket_img{
      width: 45%;
  }

  .man .man_img, .man_content{
      width: 40%;
  }

  .news .cards {
      flex-wrap: wrap;
      justify-content: center;
  }
  .news .cards .card{
     margin:10px;
  }
}
@media only screen and (max-width:938px){
  header section .img_data img{
      width: 430px;
  }

  .converter img .pic{
    height:80px
  }
}

@media only screen and (max-width:900px){
 header nav ul li {
  padding: 3px 7px;
 }

 header nav ul li a{
  font-size: 11px;
 }

 .app .app_img_bx , .app_content_bx{
  width: 45%;
 }

 .converter .cards{
  flex-direction: column;
 }

 .converter .cards .card2{
  margin:30px;
 } 

 .rocket{
  flex-direction: column-reverse;
 }

 .rocket .rocket_content , .rocket_img{
  width: 70%;
 }

 .man .man_img , .man_content {
  width: 45%;
 }
}

@media only screen and (max-width:775px){
  header{
      height: 90vh;
  }
  header nav ul {
      position: absolute;
      top: -2px;
  }
  header nav ul li a{
      font-size: 10px;
  }

  header section{
      flex-direction: column-reverse;
  }

  aside img {
      margin-top: 0;
  }
  header section .content , .img_data{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  header section .content button{
      margin: 10px;
  }
  header section .content, .img_data{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  header section .content{
      flex-direction: column;
  }

  header section .content p{
      width: 380px;
  }

  .app {
      flex-direction: column;
  }

  .app .app_img_bx , .app_content_bx{
      width: 65%;
  }

  .man{
      flex-direction: column;
  }


}


@media only screen and (max-width:469px){
  header section .img_data img{
      width: 170px;
  }

  header section .content{
      align-items: flex-start;
  }

  header section .content h1{
      font-size: 35px;
      line-height: 55px;
  }

  .app .app_img_bx, .app_content_bx{
      width: 80%;
  }

  .rocket .rocket_content , .rocket_img{
      width: 80%;
  }

  .man .man_img, .man_content{
      width: 80%;
  }
}


@media only screen and (max-width:405px){

header nav ul li a{
  font-size: 8px;
}

header section .content h1{
  font-size: 29px;
  line-height: 42px;
}

header section .content p {
  width: 300px;
}

aside .time span {
  margin: 0px 10px;
  font-size: 30px;
}

aside .time span h6{
  font-size: 8px;
}

.rocket .rocket_img img{
  width: 80%;
}

aside p{
  font-size: 9px;
  text-align: center;
  width: 300px;
}

.convertor .cards .card{
  width: 310px;
  height: 200px;
}
.convertor .cards .card .select .select1 select{
  width: 185px;
}

.convertor .cards .card .enter_bitcoin input{
  width: 196px;
}

.road_map p{
  width: 300px;
}
}

@media only screen and (max-width:355px){
  .road_map .map .card{
      width: 331px;
  }

  .road_map .map .card .title h6{
      font-size: 11px;
  }

  .road_map .map .card h5{
      width: 18px;
  }
}


.footer{
  background: var(--color-4);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}


.h1{
  color: var(--color-1);
  font-size: 17px;
  padding: 10px;
}